<style>
  nav.navbar .navbar-nav .nav-link.active {
    border-radius: 6px;
    background-color: rgb(13, 110, 253);
    color: white;
    font-weight: 800;
  }
</style>
<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%if(pageName==='ab-list'){%>
              <a class="nav-link active"href="#">ab 列表</a>
            <%}else{%>
              <a class="nav-link"href="/address-book">ab 列表</a>
            <%}%>
          </li>
          <li class="nav-item">
            <%if(pageName==='ab-add'){%>
              <a class="nav-link active"href="#">ab 新增</a>
            <%}else{%>
              <a class="nav-link"href="/address-book/add">ab 新增</a>
            <%}%>
          </li>
          <li class="nav-item">
            <a class="nav-link <%=pageName==='json-sales'?'active':''%>" href="/json-sales">json-sales</a>
          </li>

        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if(session.admin){ %>
            <li class="nav-item">
              <a class="nav-link"><%=session.admin.nickname%></a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">登出</a>
            </li>
          <% }else{ %>
            <li class="nav-item">
              <a href="/login" class="nav-link">登入</a>
            </li>
            <li class="nav-item">
              <a href="/register" class="nav-link">註冊</a>
            </li>
            <% }%>
          
        </ul>

      </div>
    </div>
  </nav>
</div>